<div>
    <h2>Registration Form with Validation</h2>
    <form #user="ngForm" (ngSubmit)="handleSubmit(user.value)">
        <div>
            First Name:
            <input type="text" name="fn" ngModel #td1="ngModel" required minlength="4">
            <span [hidden]="td1.valid || td1.pristine" class="text-danger">First number should be greter than 4
                letters.</span>
        </div>
        <br>
        <div>
            Last Name:
            <input type="text" name="ln" ngModel #td2="ngModel" required minlength="3">
            <span [hidden]="td2.valid || td2.pristine" class="text-danger">First number should be greter than 3
                characters.</span>
        </div>
        <br>
        <div>
            Gender:
            <input type="radio" name="gn" , value="Male" ngModel #td3="ngModel" required> Male
            <input type="radio" name="gn" , value="Feale" ngModel #td3="ngModel" required> Female
            <span [hidden]="td3.valid || td3.pristine" class="text-danger">Gender must be Selected</span>
        </div>
        <br>
        <div>
            Skills:
            <input type="checkbox" name="sk" value="JavaScript" ngModal #td4="ngModel"> JavaScript
            <input type="checkbox" name="sk" value="C#" ngModal #td4="ngModel"> C#
            <input type="checkbox" name="sk" value="Python" ngModal #td4="ngModel"> Python
            <input type="checkbox" name="sk" value="Design" ngModal #td4="ngModel"> Design
            <input type="checkbox" name="sk" value="VLSI" ngModal #td4="ngModel"> VLSI
            <span [hidden]="td4.valid || td4.pristine" class="text-danger">Must Select atleast one</span>
        </div>
        <br>
        <div>
            Qualification:
            <select name="qs" ngMOdel #td5="ngModel" required>
                <option value="BE">BE</option>
                <option value="MTECH">M-Tech</option>
                <option value="MBA">MBA</option>
            </select>
            <span [hidden]="td5.valid || td5.pristine" class="text-danger">Must select any</span>
        </div>
        <br>
        <div>
            Address:
            <textarea name="ad" rows="3" cols="30" ngModel #td6="ngModel" required></textarea>
            <span [hidden]="td6.valid||td6.pristine" class="text-danger">Mandatory section</span>
        </div>
        <br>
        <div>
            <input type="submit" value="Register" [disabled]="user.invalid">
        </div>
    </form>
    <br>
    <div [hidden]="user.invalid">
        <p>First Name: {{first}}</p>
        <p>Last Name: {{Last}}</p>
        <p>Gender: {{gender}}}</p>
        <p>Skills: {{skill}}</p>
        <p>Qualification: {{qual}}</p>
        <p>Address: {{add}}</p>
    </div>
</div>