.header {
    border: 1px solid red;
    background-color: black;
    padding: 30px 20px;
    margin: 0 auto;
    color: white;
    text-align: center;
}

.main-container {
    display: flex;
    justify-content: center;
}

.left {
    border: 1px solid black;
    padding: 10px;
    margin: 20px 4px;
    width: 23%;
}

.left img {
    width: auto;
    height: 400px;
}

.main {
    border: 1px solid black;
    margin: 20px 4px;
    padding: 10px;
    width: 54%;
}

.right {
    border: 1px solid black;
    padding: 10px;
    margin: 20px 4px;
    width: 23%;
}

.right .info {
    list-style: none;
    color: blue;
    text-decoration: underline;
    padding: 10px 0 5px;
}

.footer {
    border: 1px solid red;
    background-color: black;
    padding: 30px 20px;
    margin: 0 auto;
    color: white;
    text-align: center;
}
